<div class="navbar">
    <div class="logo-container">
        <img class="logoimg" src="/assets/image/financial-profit_4256863.png" alt="Logo">
        <h1 class="logoname">STOCKLISTING APP</h1>
    </div>
    <div class="account-options">
        <button type="button" [routerLink]="'/register'" class="btn btn-secondary">Register</button>
        <button type="button" [routerLink]="'/login'" class="btn btn-secondary">Login</button>
    </div>
</div>

<div class="hero-section">
    <div class="hero-text">
        <h1>Welcome to the StockListing App</h1>
        <p>Your go-to platform for exploring global stocks. Search for stocks, add them to your wishlist, view your saved stocks later, and even remove them from your wishlist with ease.</p>
    </div>
    
    <img class="hero-img" src="/assets/image/stock1.jpeg" alt="Home Logo">
</div>

<div class="footer">
    <p>&copy; 2024 StockListing App. All Rights Reserved</p>
</div>
